<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Account</title>

<script	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" />     
<link rel="stylesheet" href="static/dhx/codebase/suite.css">
<link rel="stylesheet" href="static/dhx/codebase/common/index.css">
<link rel="stylesheet" href="static/public/css/account.css"/>
<script src="static/bootbox/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bootbox/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/bootbox/node_modules/bootbox/dist/bootbox.min.js"></script>
<script src="static/bootbox/node_modules/bootbox/dist/bootbox.locales.min.js"></script>
<script type="text/javascript" src="static/dhx/codebase/suite.js"></script>

